<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul li {
      text-decoration: none;
    }
    </style>
</head>
<body>
    <h1>About</h1>
    <div class="about">we made this website to help poor students </div>
    <div class="team">
        <ul >
            <li>Ganesh</li>
            <li>Aryan</li>
            <li>Sandeep</li>
            <li>Chaitanya</li>
            <li>Harshitha</li>
        </ul>
    </div>
    
</body>
</html>