<!DOCTYPE html>
<html>
<head>
    <title>Horizontal Boxes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coding.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    <div class="head">
        <h1>PROGRAMMING LANGUAGES</h1>
    </div>
    <div class="grid">
        <div class="box">
            <a href="https://youtube.com/playlist?list=PLDsnL5pk7-N_9oy2RN4A65Z-PEnvtc7rf">
                <h1>Python</h1>
            </a>
            <img src="{{ url_for('static', filename='images/python.jpg') }}" alt="" srcset="">
        </div>
        <div class="box">
            <a href="https://youtube.com/playlist?list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL">
                <h1>C++</h1>
            </a>
            <img src="{{ url_for('static', filename='images/c++.png') }}" alt="" srcset="">
        </div>
        <div class="box">
            <a href="https://youtube.com/playlist?list=PLfqMhTWNBTe3LtFWcvwpqTkUSlB32kJop">
                <h1>Java</h1>
            </a>
            <img src="{{ url_for('static', filename='images/java.png') }}" alt="">
        </div>
        <div class="box">
            <a href="https://youtu.be/irqbmMNs2Bo">
                <h1>C</h1>
            </a>
            <img class="im" src="{{ url_for('static', filename='images/c.png') }}" alt="">
        </div>
        <div class="box">
            <a href="https://youtube.com/playlist?list=PLu0W_9lII9ahR1blWXxgSlL4y9iQBnLpR">
                <h1>Java-Script</h1>
            </a>
            <img src="{{ url_for('static', filename='images/javascipt.png') }}" alt="">
        </div>
        <div class="box">
            <a href="https://youtube.com/playlist?list=PLAC325451207E3105">
                <h1>C#</h1>
            </a>
            <img src="{{ url_for('static', filename='images/chash.png') }}" alt="">
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
